<mat-list>
  <mat-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat mauris ac sem laoreet</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Proin id commodo lacus. Aenean euismod malesuada nibh, non pharetra urna aliquam vel.</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Phasellus mauris libero, efficitur in mi nec, faucibus volutpat neque. Proin sit amet facilisis dui, a tempus justo.</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat mauris ac sem laoreet</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Proin id commodo lacus. Aenean euismod malesuada nibh, non pharetra urna aliquam vel.</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Phasellus mauris libero, efficitur in mi nec, faucibus volutpat neque. Proin sit amet facilisis dui, a tempus justo.</mat-list-item>
</mat-list>