<div class="">
    <app-navbar></app-navbar>
    <div class="principal cor-fundo">
        <mat-grid-list cols="2" rowHeight="150px">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <div class="div-tile parallax" [@estado]="estado">
                    <h1 class="letra-a-letra inicio">Olá, Henrique Arantes Tiraboschi! Temos Boas Novas!</h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="6">
                <div class="div-tile">
                    <app-galeria></app-galeria>
                </div>
            </mat-grid-tile>
            <mat-grid-tile  [rowspan]="2">
                <div class="div-tile">
                    <app-lista></app-lista>
                </div>
            </mat-grid-tile>
            <mat-grid-tile  [rowspan]="3">
                <div class="div-tile">
                    <app-stepper></app-stepper>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>